@page
@model Atividade10.Views.ImprimirNrosPedidos

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>maior e menor</title>
</head>
<body>
<label>
    escreva exatamente 20 números separados por espaços <br>
    <input type="text" name="numerosCrus" id="numerosCrus">
</label>
<p></p>
<script defer src="/assets/scripts/ImprimirNrosPedidos.js"></script>
</body>
</html>