@page
@model Atividade10.Views.Index

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atividades</title>
</head>
<body>
    <h3>Atividades</h3>
<nav>
    <ul>
        <li><a href='/tabuada'>Tabuada</a></li>
        <li><a href='/receberNros'>Exibir maior e menor</a></li>
        <li><a href='/negativosParesEZeros'>Exibir negativos pares e os zeros</a></li>
        <li><a href='/exibirListasNumeros'>Exibir listas de numeros</a></li>

    </ul>
</nav>
</body>
</html>