@page
@model Atividade10.Views.Index

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Atividades</title>
</head>
<body>
<h1>Atividades</h1>
<nav>
    <ul>
        <li><a href="/tabuada">Tabuada</a></li>
    </ul>
</nav>
</body>
</html>