@page
@using Atividade10.Views
@model Atividade10.Views.ListasNumeros

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="pt-br">
<head>
    <title>Listas de numeros</title>
</head>
<body>
<a href="/">voltar</a><br>
<ul>
    @for (int i = 0; i != ListasNumeros.ListaNumerosParaExibir.Length; i++)
    {
        <li>
            @Html.DisplayFor(
                (lista) => ListasNumeros.ListaNumerosParaExibir[i]
            )
        </li>
    }
</ul>

</body>
</html>