@page
@model Atividade10.Views.NegativosParesEZeros

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Pares negativos e zeros</title>
    <script src="/assets/scripts/NegativosParesEZeros.js" defer type="module"></script>
</head>
<body>
<a href="/">voltar</a><br>
<label>
    Digite qualquer quantidade de números que lhe trarei as informações que me solicitou <br>
    Digite separando-os por espaço
    <input type="text" name="numeros">
</label>
<p></p>
</body>
</html>