@page
@model Atividade10.Views.Tabuada

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tabuada</title>
    <script src="/assets/Tabuada.js"></script>
</head>
<body>
<label>
    Digite o número que quer visualizar a tabuada
    <input type="number" id="numero" >
</label>
<br>
<ul id="tabuada">

</ul>
</body>
</html>