@page
@model Atividade10.Views.Tabuada

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tabuada</title>
    <script src="/assets/scripts/Tabuada.js" defer></script>
</head>
<body>
<a href="/">voltar</a><br>
<label>
    Digite o número que quer visualizar a tabuada
    <input type="number" id="numero">
    <button id="imprimir">imprimir</button>
</label>
<br>
<ul id="tabuada">

</ul>
</body>
</html>